.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $dark-color;

  color: #ffffff;
  //   1.5
  // line-height: calc(21 / 14);

  .logo {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-size(tablet) {
    flex-direction: row;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    align-items: baseline;
  }

  @include for-size(desktop) {
    align-items: baseline;
  }
}

// Subscription

.subscription {
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
    margin-left: 25%;
  }

  @include for-size(desktop-without) {
    text-align: center;
  }
}

.subscription__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: $medium-font-weight;
  font-size: 1.4rem;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.subscription__input {
  width: 358px;
  height: 50px;

  padding-top: 13px;
  padding-left: 16px;
  padding-bottom: 13px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: $dark-color;

  font-size: 1.6rem;
  line-height: calc(20 / 16);

  color: $primary-color;

  @include for-size(desktop-without) {
    display: block;
    margin-bottom: 20px;
  }
  @include for-size(desktop) {
    margin-right: 12px;
  }

  &::placeholder {
    font-size: 1.6rem;
    line-height: calc(20 / 16);

    color: rgba(255, 255, 255, 0.6);
  }

  &:not(:placeholder-shown):focus:invalid {
    outline-color: red;
  }
}
