// Logo

.logo {
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 2.4rem;
  line-height: calc(28 / 24);

  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: $bold-font-weight;

  @include for-size(desktop) {
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 2.6rem;
    /* 1.19 */
    line-height: calc(31 / 26);
  }

  .link {
    display: block;
  }
}

.logo__accent {
  color: $accent-color;
}
