.menu {
  font-weight: $medium-font-weight;
  /*  1.14 */
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  border-bottom: 1px solid #ececec;
}

.menu__box {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(tablet) {
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @include for-size(desktop) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav {
  display: none;

  @include for-size(tablet) {
    display: none;
  }

  @include for-size(desktop) {
    display: flex;
  }
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }

  .site-nav__link--active {
    &::after {
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -1px;

      display: block;
      content: "";

      background-color: $accent-color;

      border-radius: 2px;
    }
  }
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $secondary-text-color;
  transition-property: color;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.site-nav__link--active {
  color: $accent-color;
}

.communications {
  @include for-size(mobile-only) {
    display: none;
  }

  @include for-size(mobile) {
    display: none;
  }

  @include for-size(tablet) {
    display: none;
  }

  @include for-size(desktop) {
    display: flex;
    margin-left: auto;
  }
}

.communications__item + .communications__item {
  margin-left: 50px;
}

.communications__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;
  transition-property: color;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover .communications__icon {
    fill: $accent-color;
  }
}

.communications__icon {
  margin-right: 10px;
  fill: $primary-text-color;
}

.communications__envelope {
  width: 16px;
  height: 12px;
}

.communications__smartphone {
  width: 10px;
  height: 16px;
}
