.menu {
  font-weight: $medium-font-weight;
  /*  1.14 */
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  border-bottom: 1px solid #ececec;
}

.menu__box {
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(tablet) {
    display: flex;
  }
}

.nav {
  @include for-size(tablet-without) {
    display: none;
  }

  @include for-size(desktop) {
    display: flex;
  }
}

.site-nav {
  display: flex;
  margin-left: 88px;

  @include for-size(desktop) {
    margin-left: 93px;
  }
}

.site-nav__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }

  .site-nav__link--active {
    &::after {
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -1px;

      display: block;
      content: "";

      background-color: $accent-color;

      border-radius: 2px;
    }
  }
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $secondary-text-color;
  transition-property: color;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.site-nav__link--active {
  color: $accent-color;
}

.communications {
  @include for-size(tablet-without) {
    display: none;
  }

  @include for-size(tablet) {
    display: flex;
    margin-left: 84px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    justify-content: center;
  }

  @include for-size(desktop) {
    // align-items: center;
    margin-left: auto;
  }
}

@include for-size(desktop) {
  .communications__item + .communications__item {
    margin-left: 50px;
  }
}
.communications__link {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 1.2rem;
    line-height: calc(14 / 12);
  }

  @include for-size(desktop) {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  color: $primary-text-color;
  transition-property: color;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover .communications__icon {
    fill: $accent-color;
  }
}

.communications__icon {
  margin-right: 8px;

  @include for-size(desktop) {
    margin-right: 10px;
  }

  fill: $primary-text-color;
}

.communications__envelope {
  width: 14px;
  height: 10px;

  @include for-size(desktop) {
    width: 16px;
    height: 12px;
  }
}

.communications__smartphone {
  width: 10px;
  height: 14px;

  @include for-size(desktop) {
    height: 16px;
  }
}
