$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$accent-secondary-color: #188ce8;
$primary-color: #ffffff;
$secondary-color: #f5f4fa;
$dark-color: #2f303a;
$border-color: #eeeeee;
$primary-icon-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
$reguliar-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$black-font-weight: 900;
$base-font-size: calc((10 / 16) * 100%);
