.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  background-color: $dark-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/banner/desktop/banner.jpg);
  background-position: center;

  @include for-size(mobile-only) {
    display: block;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @include for-size(mobile) {
    max-width: 480px;
    height: 400px;
  }

  @include for-size(tablet) {
    max-width: 768px;
    height: 400px;
  }

  @include for-size(desktop) {
    max-width: 1600px;
    height: 600px;
  }
}

.banner .container {
  text-align: center;
}

.banner__title {
  max-width: 360px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: $primary-color;

  font-weight: $black-font-weight;
  font-size: 2.6rem;
  // 1.62
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include for-size(desktop) {
    max-width: 696px;
    font-size: 4.4rem;
    //  1.36
    line-height: calc(60 / 44);
  }
}
