.catalog {
  padding-top: 35px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 30px;
  }

  @include for-size(desktop) {
    padding-top: 50px;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
}

.catalog__image {
  display: block;

  width: 100%;
  height: auto;
}

.catalog__item {
  display: inline-block;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @include for-size(desktop) {
    margin-right: 30px;

    width: calc((100% - 30px * 2) / 3);

    &:nth-child(3n) {
      margin-right: 0;
    }

    //  неидиально, в данном случае работает

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  background-color: $primary-color;

  &:hover .catalog__text {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .catalog__description-pullout {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.catalog__description {
  position: relative;

  overflow: hidden;
}

.catalog__description-pullout {
  position: absolute;
  bottom: -100%;
  left: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (max-width: 479px) {
    overflow-y: auto;
  }

  background: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  opacity: 0;
}

.catalog__description-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.8rem;
  line-height: calc(28 / 18);
  /* or 156% */

  color: $primary-color;
}

.catalog__text {
  padding-top: 20px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 20px;

  /* width: 370px; */

  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 4px;

  color: $secondary-text-color;

  font-weight: $bold-font-weight;
  font-size: 1.8rem;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.catalog__project {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-text-color;

  font-size: 1.6rem;
  /*  1.87  */
  line-height: calc(30 / 16);
}
