.clients {
  padding: 60px 15px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-top: 0;
  margin-bottom: 30px;

  @include for-size(desktop) {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include for-size(mobile) {
    margin: -15px;
  }
}

.clients__item {
  display: flex;
  margin: 15px;

  @include for-size(mobile-only) {
    justify-content: center;

    width: calc((100% - 30px * 2) / 2);
  }

  @include for-size(mobile) {
    display: flex;
    margin: 15px;
  }

  @include for-size(tablet) {
    width: calc((100% - 30px * 3) / 3);
    // margin: 15px;
  }

  @include for-size(desktop) {
    width: calc((100% - 30px * 6) / 6);
  }
}

.clients__item:nth-child(1) {
  .clients__company {
    width: 44px;
    height: 49px;
  }
}

.clients__item:nth-child(2) {
  .clients__company {
    width: 40px;
    height: 52px;
  }
}

.clients__item:nth-child(3) {
  .clients__company {
    width: 41px;
    height: 43px;
  }
}

.clients__item:nth-child(4) {
  .clients__company {
    width: 80px;
    height: 42px;
  }
}

.clients__item:nth-child(5) {
  .clients__company {
    width: 59px;
    height: 47px;
  }
}

.clients__item:nth-child(6) {
  .clients__company {
    width: 88px;
    height: 45px;
  }
}

.client-icon {
  fill: $primary-icon-color;

  transition-property: fill;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
}

.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 90px;

  @include for-size(tablet) {
    width: 226px;
  }

  @include for-size(desktop) {
    width: 170px;
  }

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  &:hover {
    border: 1px solid $accent-color;
  }

  &:hover .client-icon {
    fill: $accent-color;
  }
}
