.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter__button {
  display: flex;
  justify-content: center;
}

.filter__item {
  display: block;

  &:not(:last-child) {
    margin-right: 8px;
  }
}
