.team {
  background-color: $secondary-color;
}

.team__box {
  padding: 60px 15px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  // @include for-size(desktop-without) {
  //   margin-top: 30px;
  // }

  @include for-size(desktop) {
    margin-top: 20px;

    & > .team__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__item {
  display: block;
  margin-top: 30px;

  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: $primary-color;

  @include for-size(tablet) {
    width: calc((100% - 15px * 2) / 2);

    &:nth-child(2n) {
      margin-left: 30px;
    }
  }
  @include for-size(desktop) {
    padding-top: 0;
    width: calc((100% - 30px * 3) / 4);

    &:nth-child(2n) {
      margin-left: 0;
    }
  }
}

.team__image {
  display: block;

  @include for-size(desktop-without) {
    width: 100%;
  }
}

.team__text {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: $secondary-text-color;

  font-weight: $medium-font-weight;
  font-size: 1.6rem;
  line-height: 1.19;
}

.team__career {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  /*  1.19 */
  line-height: calc(19 / 16);
}

.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-social__item {
  margin-bottom: 30px;
}

.team-social__item + .team-social__item {
  margin-left: 10px;
}

.team-social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: $primary-text-color;
  border-radius: 50%;

  color: $primary-text-color;

  transition-property: background-color, fill, color;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-color;
    fill: $primary-color;
  }
}

.team-social__instagram,
.team-social__twitter,
.team-social__facebook,
.team-social__linkedin {
  width: 20px;
  height: 20px;
}
